@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}
/* Estilos para la barra de navegación */
.nav {
  background-color: #400056;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
}

/* Centrar el título */
.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* Botón de menú a la izquierda */
.menu-btn {
  font-size: 1.8rem;
  cursor: pointer;
  order: -1;
  /* Lo posiciona primero en flexbox */
}



/* Menú responsive */
.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 10em;
  background: #400056;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-top: 60px;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.nav-links.open {
  transform: translateY(0%);
}