@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}
/* Estilos para la barra de navegación */
.nav {
  color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 4em;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4em;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Centrar el título */
.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* Botón de menú a la izquierda */
.menu-btn {
  font-size: 1.8rem;
  cursor: pointer;
  order: -1;
  /* Lo posiciona primero en flexbox */
}



/* Menú responsive */
.nav-links {
  position: fixed;
  top: 4em;
  right: 0;
  height: 11.8em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  transform: translateY(-130%);
  transition: transform 0.3s ease-in-out;
  color: #fff;
  z-index: -2;
  background-color: #540045;
}
.nav-links li{
  width: 100%;
  padding: .8em 4em;
  font-weight: bold;
  cursor: pointer;
}
.nav-links li:hover{
  color: #FF8B10;
}
.nav-links.open {
  transform: translateY(0%);
}