/* Contenedor principal de los planes de viaje */
.planViajeContainer {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 22em;
  height: auto;
  max-width: 100%;
  border-radius: 1.25em;
  overflow: hidden;
  box-shadow: 0px 0px .8em rgba(0, 0, 0, 0.3);
  background-color: white;
  transition: outline 0.3s ease-in-out;
  top: 4.5em;
}



/* Slider de imágenes */
.slider {
  position: relative;
  width: 100%;
  height: 15em;
  /* 200px / 16px */
  overflow: hidden;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}

.slider-content img {
  width: 100%;
  height: 15em;
  object-fit: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.caption {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0 1px 3px #0003;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
/* Botones del slider */
.btnSlider {
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: white;
  border: none;
  cursor: pointer;
  transform: translateY(-40%);
  transition: all 0.3s;
  outline: none;
  background-color: transparent;
}

.btnSlider:hover {
  color: #d2d1d1;
}

.prev {
  left: 0.3em;
}

.next {
  right: 0.3em;
}

/* Contenido del plan de viaje */
.planViajeContent {
  display: none;
  flex-direction: column;
  padding: 0.9em;
  background-color: #f4f4f4;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
  flex: 1;
}
.planViajeContent.open {
  display: flex;
}
.planViajeContainer.open .overlay,
.planViajeContainer.open .caption {
  opacity: 0;
}
/* Títulos */
.planViajeContent h3 {
  margin: 0.3em 0;
  /* 5px */
  color: #730086;
  font-size: 1.1em;
  /* 18px */
}

/* Contenedor del texto con scroll */
.planViajeDescripcion {
  flex-grow: 1;
  padding-right: 0.3em;
  color: #000;
  overflow-y: visible;
  height: auto;
  padding-bottom: .6em;
}

/* Personalización del scrollbar */
.planViajeDescripcion::-webkit-scrollbar {
  width: 0.4em;
  /* Más visible */
}

.planViajeDescripcion::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 0.6em;
}

.planViajeDescripcion::-webkit-scrollbar-thumb {
  background: #730086;
  border-radius: 0.6em;
}

.planViajeDescripcion::-webkit-scrollbar-thumb:hover {
  background: #540045;
}

/* Precio y botón fijados al final */
.planViajeFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  height: 3em;
}

/* Precio */
.planViajeFooter h3 {
  color: #FF8B10;
  font-size: 1.25em;
  /* 20px */
  margin-bottom: 0.6em;
  /* 10px */
}

/* Botón de compra */
.planViajeFooter .buttonFooter, .btnFront {
  width: 100%;
  padding: 0.6em;
  border: none;
  background-color: #FF8B10;
  color: white;
  font-size: 1em;
  /* 16px */
  font-weight: bold;
  border: 2px solid #FF8B10;
  cursor: pointer;
  border-radius: 0.6em;
  transition: background 0.3s, color 0.2s;
  outline: none;
  text-decoration: none;
}
.btnFront{
  margin: .2em;
}
.planViajeFooter .buttonFooter:hover, .btnFront:hover{
  background-color: transparent;
  color: #FF8B10;
}

.inicioPag{
  top: 4em;
  height: 25em;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programar {
  height: 15em;
  width: 100%;
  background-color: #540045;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programar div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  width: 80%;
  z-index: 100;
}
.wave {
  position: absolute;
  bottom: 18.5em;
  height: 8em;
  width: 100%;
}
.wave2 {
  height: 8em;
  bottom: -2em;
}

@media (max-width: 600px) {
  .inicioPag {
    height: 30em;
  }
  .programar{
    height: 30em;
  }

  .wave { 
    display: none;
  }
  .wave2 {
    display: none;
  }
}