.homeSection {
  margin: 3em;
  margin-top: 6em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5em;
}
.divHome{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}
/* Paleta de colores */
:root {
  --color-primario: #540045;
  --color-secundario: #730086;
  --color-terciario: #162769;
  --color-acento: #ff9e3e;
  --color-acento-secundario: #FF8B10;
  --color-blanco: #ffffff;
  --color-negro: #000000;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-blanco);
  color: var(--color-blanco);
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo para los títulos */
h1,
h2,
h3 {
  color: var(--color-acento);
  font-weight: bold;
}


.wave {
  position: absolute;
  height: 7em;
  width: 100%;
}

.wave2 {
  height: 6em;
}